<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.espressif.iot.esptouch" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="false"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.espressif.android.v1.EspTouchActivity"
            android:theme="@style/AppTheme_yu1"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
